// Primary Button
.gt-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, #2463cf 0%, #2463cf 100.82%);
  color: white;
  font-family: $body-font;
  font-size: 16px;
  // font-weight: 700;
  line-height: 1;
  padding: 20px 16px 20px 25px;
  min-width: 160px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &:before {
    top: 0;
    right: 0;
    border: 0 solid;
    border-color: transparent transparent transparent $title-color;
    transform: rotate(360deg);
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    transition: 0.7s ease;
    z-index: -1;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  &:before {
    bottom: 0;
    left: 0;
    right: auto;
    bottom: auto;
    border-color: $title-color transparent transparent transparent;
  }

  &:hover,
  &.active {
    color: $white-color;

    &:before,
    &:after {
      border-width: 200px 130px;
    }

    &.gt-btn-icon {
      &:after {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }

  &.style2 {
    background: $title-color;
    @include transition;

    &:before {
      top: 0;
      right: 0;
      border: 0 solid;
      border-color: transparent transparent transparent $theme-color;
      transform: rotate(360deg);
      width: 0;
      height: 0;
      content: "";
      position: absolute;
      transition: 0.7s ease;
      z-index: -1;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      @include transition;
    }

    &:before {
      bottom: 0;
      left: 0;
      right: auto;
      bottom: auto;
      border-color: $theme-color2 transparent transparent transparent;
    }
    &:hover,
    &.active {
      color: $white-color;
      &:before,
      &:after {
        border-width: 205px 130px;
        mix-blend-mode: hard-light;
      }

      &.gt-btn-icon {
        &:after {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
        }
      }
    }
  }

  &.style3 {
    padding: 20px 75px;
    border-radius: 100px;
    background: linear-gradient(90deg, #000000 0%, #000000 123.82%);
    color: $white-color;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

    &:hover {
      color: $white-color;

      &:before,
      &:after {
        border-width: 200px 170px;
      }

      &.gt-btn-icon {
        &:after {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
        }
      }
    }
  }

  &.style4 {
    padding: 20px 65px;
    border-radius: 100px;
    background: $title-color;
    color: $white-color;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

    &:hover {
      color: $white-color;
      background: linear-gradient(90deg, #000000 0%, #000000 123.82%);

      &:before,
      &:after {
        border-width: 200px 170px;
      }

      &.gt-btn-icon {
        &:after {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
        }
      }
    }
  }

  &.style5 {
    background: $white-color;
    color: $title-color;
    &:before {
      border-color: transparent transparent transparent $theme-color;
    }
    &:hover {
      color: $white-color;
      background: $title-color;

      &:before,
      &:after {
        border-width: 200px 120px;
      }
    }
  }

  &.style6 {
    background: $white-color;
    color: $title-color;
    &:before {
      border-color: transparent transparent transparent $title-color;
    }
    &:hover {
      color: $white-color;
      background: linear-gradient(90deg, #fffbfb 0%, #000000 123.82%);

      &:before,
      &:after {
        border-width: 200px 120px;
      }
    }
  }

  // &.style-title {
  //     background-color: $title-color;
  //     color: $white-color;

  //     &:after {
  //         border-color: transparent transparent transparent $theme-color;
  //     }

  //     &:before {
  //         border-color: transparent $theme-color transparent transparent;
  //     }
  // }

  // &.style-border {
  //     background: $white-color;
  //     border: 1px solid $smoke-color4;
  //     color: $title-color;

  //     &:after {
  //         border-color: transparent transparent transparent $theme-color;
  //     }

  //     &:before {
  //         border-color: transparent $theme-color transparent transparent;
  //     }
  // }

  // &.style-white {
  //     background-color: $white-color;
  //     color: $theme-color;

  //     &:after {
  //         border-color: transparent transparent transparent $title-color;
  //     }

  //     &:before {
  //         border-color: transparent $title-color transparent transparent;
  //     }

  //     &:hover {
  //         color: $white-color;
  //     }
  // }

  // &.btn-fw {
  //     width: 100%;

  //     &:hover {
  //         background: $title-color;
  //     }

  //     &.style-border {
  //         &:hover {
  //             background: $theme-color;
  //             border-color: $theme-color;
  //         }
  //     }
  // }

  // &.media {
  //     display: flex;
  //     border-radius: 150px;
  //     align-items: center;
  //     padding: 15px 30px;

  //     .icon {
  //         flex: none;
  //         font-size: 30px;
  //     }

  //     .media-body {
  //         text-align: start;
  //         margin-left: 14px;

  //         h6 {
  //             font-size: 22px;
  //             font-weight: 700;
  //             font-family: $title-font;
  //             line-height: 26px;
  //             color: $white-color;
  //             margin-bottom: 0;
  //         }

  //         span {
  //             font-weight: 400;
  //             font-size: 11px;
  //             line-height: 13px;
  //             font-family: $body-font;
  //         }
  //     }

  //     &:hover {
  //         background: $title-color;
  //     }
  // }

  &-icon {
    &:after {
      display: inline-block;
      content: "";
      position: relative;
      background-image: url(/assets/img/icon/icon2.png);
      background-size: 100% 100%;
      width: 19px;
      height: 19px;
      line-height: 1;
      margin-bottom: -0.3em;
      text-align: center;
      margin-left: 15px;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
    }
  }
}

// Icon Btn
.icon-btn {
  display: inline-block;
  width: var(--btn-size, 40px);
  height: var(--btn-size, 40px);
  line-height: var(--btn-size, 40px);
  font-size: var(--btn-font-size, 16px);
  background-color: $gray-color;
  color: $title-color;
  text-align: center;
  border-radius: 50%;
  border: none;
  transition: 0.4s ease-in-out;
  position: relative;

  &:hover {
    background-color: $theme-color;
    color: $white-color;
  }

  &.btn-border {
    background-color: $smoke-color3;
    border: 1px solid $smoke-color4;
    line-height: var(--btn-size, 38px);

    &:hover {
      background: $theme-color;
      color: $white-color;
      border-color: $theme-color;
    }
  }

  .badge {
    position: absolute;
    width: fit-content;
    display: inline-block;
    text-align: center;
    background-color: $theme-color;
    color: $white-color;
    padding: 2px 4.1px 1px;
    font-size: 12px;
    border-radius: 50%;
    top: 0px;
    left: auto;
    right: -8px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: 1px solid $theme-color;
  }

  &:hover .badge {
    background: $white-color;
    color: $theme-color;
  }

  &.bg-none {
    background: transparent;
    font-size: var(--btn-font-size, 20px);
    width: auto;
    padding: 0;

    .badge {
      right: -12px;
    }

    &:hover {
      color: $theme-color;
    }
  }

  &.style2 {
    &:hover {
      background: $title-color;
    }
  }
}

// Play Button
.play-btn {
  display: inline-block;
  position: relative;
  z-index: 1;

  > i {
    display: inline-block;
    width: var(--icon-size, 60px);
    height: var(--icon-size, 60px);
    line-height: var(--icon-size, 60px);
    text-align: center;
    border-radius: 100px;
    border: 1px solid $white-color;
    background: radial-gradient(
      157.24% 123.22% at 47.19% -0.63%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(21px);
    color: $white-color;
    font-size: var(--icon-font-size, 24px);
    border-radius: 50%;
    z-index: 1;
    transition: all ease 0.4s;

    &.fa-play {
      padding-right: 0.18em;
    }
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(56, 56, 59, 0.3);
    @extend .ripple-animation;
    z-index: -1;
    border-radius: 50%;
    transition: all ease 0.4s;
  }

  &:after {
    animation-delay: 2s;
  }

  &:hover {
    i {
      background-color: $theme-color2;
      color: $white-color;
    }

    &:after,
    &:before {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &.style2 {
    &:before,
    &:after {
      background-color: transparent;
      border: 1px solid $white-color;
    }
  }

  &.style3 {
    > i {
      background-color: $theme-color;
      color: $white-color;
      font-size: 20px;
    }

    &:before,
    &:after {
      background-color: $white-color;
    }

    &:hover {
      > i {
        background-color: $white-color;
        color: $theme-color;
      }
    }
  }

  &.style4 {
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    top: 15%;
    left: 75%;
    transform: translate(-75%, -15%);
    -webkit-transform: translate(-75%, -15%);
    -moz-transform: translate(-75%, -15%);
    -ms-transform: translate(-75%, -15%);
    -o-transform: translate(-75%, -15%);

    > i {
      display: inline-block;
      width: 90px;
      height: 90px;
      line-height: 70px;
      text-align: center;
      background: $theme-color;
      border: 9px solid #c3c9ff;
      border-radius: 50%;
      z-index: 1;
      transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
    }

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: -1;
      border-radius: 50%;
      transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
    }

    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: -1;
      border-radius: 50%;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
    }
  }
}

// Link Button
.link-btn {
  a {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: linear-gradient(90deg, #000000 0%, #000000 123.82%);
    color: $white-color;
    box-shadow: 0px 4px 25px 0px rgba(98, 34, 204, 0.08);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

    &:hover {
      background: $white-color;
      color: $theme-color;
    }
  }
}

.line-btn {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 0.8;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: $title-color;

  i {
    margin-left: 5px;
    font-size: 0.9rem;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $title-color;
    transition: all ease 0.4s;
  }

  &:hover {
    color: $theme-color;

    &::before {
      background-color: $theme-color;
      width: 45px;
    }
  }
}

// Scroll To Top
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 10000;
  opacity: 1;
  visibility: hidden;
  transform: translateY(45px);
  transition: all 300ms linear;

  &:after {
    content: "\f062";
    font-family: $icon-font;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: $theme-color;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 1;
    border: 2px solid $theme-color;
    box-shadow: none;
    border-radius: 50%;
  }

  svg {
    color: $theme-color;
    border-radius: 50%;
    background: $white-color;

    path {
      fill: none;
    }
  }

  .progress-circle path {
    stroke: $theme-color;
    stroke-width: 20px;
    box-sizing: border-box;
    transition: all 400ms linear;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.arrow-btn {
  .style2 {
    width: 52px;
    height: 52px;
    line-height: 35px;
    text-align: center;
    border: 1px solid $white-color;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 4px 25px 0px rgba(56, 75, 255, 0.08);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    background-color: #2463cf;

    &:hover {
      background: linear-gradient(90deg, #000000 0%, #000000 123.82%);
      border: 1px solid $theme-color;
    }
    &.slider-next {
      margin-left: 5px;
    }
  }
}

@include sm {
  .play-btn {
    --icon-size: 60px;
  }
}
