/*----------------------------------------------
    # Cta style here
----------------------------------------------*/
.cta-area { 
  .container{
  max-width: 98%;
        }
      }
.cta-wrap {
  &.style1 {
    position: relative;
    padding: 64px 73px 62px;
    background: linear-gradient(90deg, #2463cf 0%, #000000 123.82%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 47px;

    .shape1_1 {
      position: absolute;
      bottom: 0;
      left: 43px;
    }

    .shape1_2 {
      position: absolute;
      top: 0;
      left: 279px;
    }

    .shape1_3 {
      position: absolute;
      bottom: 0;
      right: 0;
    }

   

    .cta-thumb {
      position: absolute;
      bottom: 0;
      left: 73px;
    }

    .cta-title {
      max-width: 356px;
    }

    @include lg {
      align-items: center;
      justify-content: space-between;
    }

    @include md {
      padding: 55px 35px 40px;
    }

    @include sm {
      padding: 40px 35px 40px;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
    }
  }

  &.style2 {
    position: relative;
    padding: 64px 73px 62px;
    background: linear-gradient(90deg, #000000 0%, #000000 123.82%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47px;

    .shape1_2 {
      position: absolute;
      top: 0;
      left: 0;
    }

    .shape1_3 {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .shape1_4 {
      position: absolute;
      bottom: 65px;
      left: 343px;
    }

    .fancy-box.style1 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    .fancy-box_icon {
      padding: 0;
    }

    .cta-thumb {
      position: absolute;
      bottom: 0;
      left: 73px;
    }

    .cta-title {
      max-width: 356px;
    }

    @include lg {
      padding: 55px 40px 50px;
      align-items: center;
      justify-content: space-between;
    }

    @include md {
      padding: 40px 35px 40px;
      flex-direction: column;
      justify-content: center;
      gap: 25px;

      .cta-title {
        max-width: 100%;
      }
    }

    @include sm {
      padding: 40px 35px 40px;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
    }
  }
}
