/*----------------------------------------------
    # Project style here
----------------------------------------------*/
.projectbgv{
   /* background: linear-gradient(270deg,  #393f4d 10.58%, #1d1e22 72.3%);*/
    background-image: url(/public/assets/img/about/about1.png);
&:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
}

.project-card {
    /*background-color: whitesmoke;*/
    &.style1 {
        position: relative;
        overflow: hidden;
        max-width: 465px;
        margin: 0 auto;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        width: 465px;
        height: 450px;
        padding:20px;
        .project {
           
            &-img {
                position: relative;
                z-index: 1;
                font-size: 18px;
                list-style:1;
                padding:20px;
                text-align: justify;
                max-height: 150px;

                img {
                    width: 465px;
                    max-height: 150px;
                    object-fit: cover;
                    transition: all 0.4s ease-in-out;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -ms-transition: all 0.4s ease-in-out;
                    -o-transition: all 0.4s ease-in-out;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }

                .img-shine {
                    opacity: 0;
                    transition: 0.4s;
                    -webkit-transition: 0.4s;
                    -moz-transition: 0.4s;
                    -ms-transition: 0.4s;
                    -o-transition: 0.4s;
                    max-height: 150px;
                }
            }
        }

        .fancy-box {
            &.style2 {
                position: absolute;
                bottom: 24px;
                left: 24px;
                z-index: 3;
                border-bottom: 5px solid #2463cf;

                &:hover {
                    .img-shine {
                        opacity: 1;
                    }
                }
            }
        }

        &:hover {
            .img-shine {
                opacity: 1;
            }

            .project {
                &-img {
                    img {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
            }
        }

        @include xs {
            max-width: 400px;

            .fancy-box {
                &.style2 {
                    position: absolute;
                    bottom: 14px;
                    left: 14px;
                    z-index: 3;
                }
            }
        }

        @include vxs {
            max-width: 320px;

            .fancy-box {
                &.style2 {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    z-index: 3;
                }
            }
        }
    }
}


.project-details-wrapper {
    .project-details-items {
        .details-content {
            h3 {
                font-size: 30px;
                margin-bottom: 15px;
                @include md {
                    font-size: 26px;
                }

                @include sm {
                    font-size: 24px;
                }
            }
            p{
                font-size: 24px;
                text-align: justify;
            }
            .heading{
                color: grey;
            }
        }
        
        .project-catagory {
            padding: 40px 30px;
            background-color: $white-color;
            border-top: 4px solid $theme-color;
            margin-top: -150px;
            margin-right: 30px;

            @include lg {
                margin-top: 0;
            }

            h3 {
                border-bottom: 1px solid $border-color;
                padding-bottom: 30px;
            }

            ul {
                padding-left: 0;
                margin-bottom: 0;

                li {
                    font-weight: 600;
                    color: $title-color;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $border-color;
                    padding: 16px 0;

                    span {
                        font-weight: 500;

                        i {
                            color: $body-color;
                            @include transition;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }

        .list {
            padding-left: 0;
            margin-bottom: 0;

            li {
                font-weight: 500;
                color: $title-color;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                i {
                    margin-right: 5px;
                    color: $theme-color;
                }
            }
        }
    }

    .preview-area {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 30px 0;

        .preview-item {
            display: flex;
            align-items: center;
            gap: 12px;

            .content {

                h3,
                p {
                    margin-bottom: 0;
                }

                &.text-right {
                    text-align: right;
                }
            }
        }
    }
}