/*----------------------------------------------
    # All Footer Widget style here
----------------------------------------------*/
.widget-area {
    .container{
        max-width: 98%;
    }
    &.style2 {
        position: relative;

        .shape2_1 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        .shape2_2 {
            position: absolute;
            bottom: 63px;
            right: 0;
            z-index: 1;
        }

        .shape2_3 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    &.style1 {
        position: relative;

        .shape2_1 {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .shape2_2 {
            position: absolute;
            bottom: 63px;
            right: 0;
        }
    }
}

.widget_title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    font-family: $title-font;
    line-height: 1em;
    margin: -0.12em 0 30px 0;
}

.widget {
    &.footer-widget {
        background-color: transparent;
        padding: 0;
        border: none;
        padding-bottom: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-top: -webkit-calc(var(--section-space) - 20px);
        padding-top: -moz-calc(var(--section-space) - 20px);
        padding-top: calc(var(--section-space) - 20px);
        padding-bottom: 0px;
        margin-bottom: -5px;

        .widget_title {
            padding: 0 0 18px 0;
            color: $white-color;
            font-family: $title-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            text-transform: capitalize;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 61px;
                height: 2px;
                background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
            }

        }
    }
}

.gt-widget-about {
    max-width: 270px;

    .about-logo {
        margin-bottom: 33px;
    }

    .about-text {
        color: $white-color;
        font-family: $title-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 30px;
    }
}

.widget {
    &.widget_nav_menu {
        &.footer-widget {
            .widget_title {
                color: $white-color;
                font-family: $title-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                text-transform: capitalize;
            }

            .menu-all-pages-container {
                .menu {
                    list-style-type: none;
                    padding-left: 0;

                    li {
                        margin-bottom: 20px;

                        a {
                            color: $white-color;
                            font-family: $title-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 28px;

                            i {
                                color: $white-color;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 28px;
                                margin-right: 8px;
                                transition: 0.4s ease-in-out;
                                -webkit-transition: 0.4s ease-in-out;
                                -moz-transition: 0.4s ease-in-out;
                                -ms-transition: 0.4s ease-in-out;
                                -o-transition: 0.4s ease-in-out;
                            }

                            &:hover {
                                color: $theme-color2;

                                i {
                                    color: $theme-color2;
                                }
                            }
                        }
                    }
                }
            }

            .checklist {
                margin-top: 25px;
                margin-bottom: 0px;

                ul {
                    margin-bottom: 20px;
                }
            }

            .email-input-container {
                margin-bottom: 25px;
                width: fit-content;
            }
        }
    }
}

.recent-post-wrap {
    .recent-post {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        max-width: 300px;
        margin-top: -0.3em;
        margin-bottom: 30px;
        padding: 0;
        border: 0;

        .media-img {
            overflow: hidden;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            -webkit-transition: 0.4s ease-in-out;
            -o-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
        }

        .media-body {
            .recent-post-meta {
                margin-bottom: -2px;

                a {
                    color: $white-color;
                    font-family: $title-font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;

                    i {
                        color: $white-color;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        margin-right: 9px;
                        -webkit-transition: 0.4s;
                        -o-transition: 0.4s;
                        -moz-transition: 0.4s;
                        transition: 0.4s;
                    }
                }
            }

            .post-title {
                a {
                    color: $white-color;
                    font-family: $title-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;

                    &:hover {
                        color: $white-color;
                    }
                }
            }
        }
    }
}

.copyright-wrap {
    .copyright-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .layout-text {
            .copyright {
                margin-bottom: 0;
                color: $white-color;

                a {
                    color: $white-color;

                    &:hover {
                        color: $theme-color2;
                    }
                }
            }

        }

        .link-wrapper {
            text-align: end;

            a {
                display: inline-block;
                color: $white-color;
                text-align: right;
                font-family: $title-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin-right: 30px;

                &:hover {
                    color: $theme-color2;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include sm {
            grid-template-columns: repeat(1, 1fr);
            text-align: center;

            .link-wrapper {
                text-align: center;

                a {
                    text-align: center;
                }
            }
        }
    }
}